<a href="https://colab.research.google.com/github/sonujangid1402/sonu-jangid/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
from tabulate import tabulate
import pandas as pd

dict = {'Name':['sonu','rashi','jyoti','priya'],
        'Maths':[88,94,76,84],
         'science':[93,75,90,83]}
df = pd.DataFrame(dict)

print(df)

    Name  Maths  science
0   sonu     88       93
1  rashi     94       75
2  jyoti     76       90
3  priya     84       83

In [ ]:
from tabulate import tabulate
import pandas as pd

dict = {'Name':['sonu','rashi','jyoti','priya'],
        'Maths':[88,94,76,84],
         'science':[93,75,90,83]}
df = pd.DataFrame(dict)

print(tabulate(df, headers = 'keys', tablefmt = 'psql'))

+----+--------+---------+-----------+
|    | Name   |   Maths |   science |
|----+--------+---------+-----------|
|  0 | sonu   |      88 |        93 |
|  1 | rashi  |      94 |        75 |
|  2 | jyoti  |      76 |        90 |
|  3 | priya  |      84 |        83 |
+----+--------+---------+-----------+