<a href="https://colab.research.google.com/github/sonujangid1402/sonu-jangid/blob/main/stringlibrary_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
str='mynameissonu'
print(str[3:5])

am

In [4]:
str='my name is sonu'
print(str.upper())

MY NAME IS SONU

In [ ]:
str='MY NAME IS SONU'
print(str.lower())

In [11]:
str=' my name is sonu '
length=len(str)
print(length)
print(str.strip())
size=len(str.strip())
print(size)

17
my name is sonu
15

In [14]:
str='my name is sonu'
print(str)
a=str.replace("sonu","jangid")
print(a)

my name is sonu
my name is jangid

In [20]:
str='my name is sonu my'
print(str)
a=str.count('my')
print(a)

my name is sonu my
2

In [22]:
str='my name is sonu my father name is dinesh jangid'
print(str)
a=str.count('s')
print(a)

my name is sonu my father name is dinesh jangid
4

In [24]:
str='my name is my'
print(str)
a=str.find('my')
print(a)
b=str.find('is')
print(b)

my name is my
0
8

In [35]:
str='my name is {0}.my brother name is {1}.my friend name is {2}'
a=str.format('sonu','ravi','garima')
print(a)

TypeError: 'str' object is not callable